<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
  <div class="flex flex-wrap items-center px-4 md:px-10 mx-auto gap-4 md:gap-6">
    <!-- Logo -->
    <div class="text-white flex items-center flex-shrink-0">
      <a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact:true}"
        class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7">
          <path
            d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
        </svg>
        <h3 class="text-xl md:text-2xl font-semibold uppercase">Dating App</h3>
      </a>
    </div>

    <!-- Desktop Nav (left side, after logo) -->
    <nav class="hidden md:flex flex-row md:gap-4 uppercase text-lg text-white ml-6">
      @if (accountService.currentUser()) {
      <a routerLink="/members" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact:true}">Matches</a>
      <a routerLink="/lists" routerLinkActive="text-accent">Lists</a>
      <a routerLink="/messages" routerLinkActive="text-accent">Messages</a>
      <a *appHasRole="['Admin','Moderator']" routerLink="/admin" routerLinkActive="text-accent">Admin</a>
      <!-- <a routerLink="/errors" routerLinkActive="text-accent">Error</a> -->
      }
    </nav>

    <!-- Right Side Actions (Mobile: Hamburger + Theme Switcher) -->
    <div class="ml-auto flex items-center gap-3 md:hidden">
      <!-- Theme Switcher Dropdown -->
      <div class="dropdown dropdown-end">
        <button tabindex="1"
          class="flex flex-col justify-center align-middle text-white cursor-pointer uppercase text-xs">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6 self-center">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 
                 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0 
                 a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025 
                 a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42 
                 a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814 
                 a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32 
                 a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42 
                 a6.776 6.776 0 0 0-3.42-3.42" />
          </svg>
          <span>{{ selectedTheme() }}</span>
        </button>
        <ul tabindex="1" class="dropdown-content z-50 menu bg-base-100 rounded-box w-52 p-2 shadow-sm">
          @for (theme of themes; track $index) {
          <li (click)="handleSelectTheme(theme)">
            <a>{{ theme }}</a>
          </li>
          }
        </ul>
      </div>

      <!-- Hamburger button (Mobile only) -->
      <button class="text-white focus:outline-none" (click)="isMobileMenuOpen.set(!isMobileMenuOpen())">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <!-- Menu section (for mobile only) -->
    <div class="w-full md:flex md:w-auto md:ml-auto md:items-center md:gap-6"
      [ngClass]="{'hidden': !isMobileMenuOpen(), 'block': isMobileMenuOpen(), 'md:flex': true}">

      <!-- Navigation Links (mobile only) -->
      <nav class="flex flex-col md:hidden uppercase text-lg text-white mt-4 md:mt-0">
        @if (accountService.currentUser()) {
        <a routerLink="/members" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact:true}"
          (click)="isMobileMenuOpen.set(false)">Matches</a>
        <a routerLink="/lists" routerLinkActive="text-accent" (click)="isMobileMenuOpen.set(false)">Lists</a>
        <a routerLink="/messages" routerLinkActive="text-accent" (click)="isMobileMenuOpen.set(false)">Messages</a>
        <a *appHasRole="['Admin','Moderator']" routerLink="/admin" routerLinkActive="text-accent"
          (click)="isMobileMenuOpen.set(false)">Admin</a>
        <!-- <a routerLink="/errors" routerLinkActive="text-accent" (click)="isMobileMenuOpen.set(false)">Error</a> -->
        }
      </nav>

      <!-- Login / Profile Section + Theme Switcher for Desktop (hidden on mobile) -->
      <div class="flex flex-col md:flex-row items-start md:items-center mt-4 md:mt-0 md:gap-3 gap-3 w-full md:w-auto">
        <!-- Profile/Notification/Login -->
        <div class="flex flex-row items-center gap-3 w-full md:w-auto">
          @if(accountService.currentUser(); as user){
          <!-- Notification Icon -->
          <div routerLink="/messages" class="relative inline-block" (click)="isMobileMenuOpen.set(false)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-8 h-8 text-white/90">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 
                    8.967 0 0118 9.75V9a6 6 0 10-12 0v.75
                    a8.967 8.967 0 01-2.311 6.022c1.733.64
                    3.56 1.085 5.454 1.31m5.714 0a24.255 24.255 
                    0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
            <span class="absolute -top-1 -right-1 bg-red-600 text-white text-xs font-bold px-1.5 py-0.5 rounded-full">
              {{ presenceService.unreadMessageCount() }}
            </span>
          </div>

          <!-- User Dropdown -->
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="flex items-center text-xl gap-3 cursor-pointer">
              <img [src]="user?.imageUrl || '/user.png'" alt="user avatar" class="w-10 h-10 rounded-full">
              <span class="text-white">{{user?.displayName}}</span>
            </div>
            <ul tabindex="0"
              class="dropdown-content menu bg-base-100 rounded-box w-full md:w-52 p-2 shadow-sm left-0 md:left-auto">
              <li><a routerLink="/members/{{user.id}}">Edit profile</a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </div>
          } @else {
          <!-- Login Form -->
          <button class="btn btn-primary" (click)="openLoginModal()">Login</button>
          }
        </div>

        <!-- Theme Switcher for Desktop (hidden on mobile) -->
        <div class="hidden md:block ml-5">
          <div class="dropdown dropdown-end">
            <button tabindex="1"
              class="flex flex-col justify-center align-middle text-white cursor-pointer uppercase text-xs">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6 self-center">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 
                     4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0 
                     a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025 
                     a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42 
                     a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814 
                     a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32 
                     a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42 
                     a6.776 6.776 0 0 0-3.42-3.42" />
              </svg>
              <span>{{ selectedTheme() }}</span>
            </button>
            <ul tabindex="1" class="dropdown-content z-50 menu bg-base-100 rounded-box w-52 p-2 shadow-sm">
              @for (theme of themes; track $index) {
              <li (click)="handleSelectTheme(theme)">
                <a>{{ theme }}</a>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Login Modal -->
<div *ngIf="showLoginModal()" class="fixed inset-0 flex items-center justify-center bg-black/50 z-50">

  <!-- Modal Content -->
  <div class="bg-white p-6 rounded-lg w-96 relative shadow-lg">
    <app-login (close)="showLoginModal.set(false)"></app-login>

    <!-- Close button -->
    <button (click)="showLoginModal.set(false)" class="absolute top-2 right-2 text-gray-500 hover:text-black">
      ✕
    </button>
  </div>
</div>